workflows/kb-delete.json
{
  "_comment": "Workflow: NGO.tools KB Delete | n8n ID: wfgok310jJzLs67L | Webhook: /webhook/ngo-tools-kb-delete (POST)",
  "name": "NGO.tools KB Delete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ngo-tools-kb-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-delete",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ngo-tools-kb-delete"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_vectors_ngo_tools WHERE metadata->>'source' = '{{ $json.body.source }}'"
      },
      "id": "delete-chunks",
      "name": "Delete Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 0],
      "credentials": {
        "postgres": {
          "id": "sd9vc72XPsJhxW8I",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, deleted_source: $('Webhook Trigger').first().json.body.source }) }}"
      },
      "id": "respond-delete",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Delete Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Chunks": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "NGO.tools" },
    { "name": "Admin" }
  ]
}